@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');


*{
  margin: 0;
  padding: 0;
  background-image: url('./assets/fondo_web.png');
  background-repeat: no-repeat;
  background-size: cover;
}
 

